body {
    margin: 60px auto;
    width: 70%;
}
.navbar a{
    float: right;
    font-family:'Georgia', 'Times New Roman', 'Sans-Serif';
    padding: 15px 15px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #999;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Georgia', 'Times New Roman', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.btn {
    border: 3px solid black;
    background-color: lightblue;
    color: black;
    /*padding: somthing;*/
    font-size: 30px;
    cursor: pointer;
}

.github {
    border-color: #CB26F5;
    color: violet;
}
.gitlab {
    border-color: #F27142;
    color: red;
}

