body {
    margin: 0;
}

.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: pink;
    background-color: darkgray;
    display: inline-block;
}
li { /*for each navbar element up top*/
    float: right;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
li a:hover {
    background-color: white; 
}

footer {
    bottom: 0;
    margin-top: 30px;
    font-size: 20px;
    color: black;
    font-weight: lighter;
}

