title {
    margin-top: 50px;

}
body {
    margin: 100px auto;
    width: 100%;
}
.nav {
    overflow: hidden;
    background-color: #333;
    font-family:'Georgia', 'Times New Roman', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
.nav a {
    float: right;
    color: #FF3374;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 20px;
}
.nav hover {
    background-color: #ddd;
    color: black;
}

.nav a.active {
    background-color: #4CAF50;
    color: white;
}
.me {
    float: left;
}

.bio {
    margin-top: 100 px;
    font-family:'Georgia', 'Times New Roman', 'Sans-Serif';
}
h1 {
    font-size: 3em;
    padding-top: 40px;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.btn {
    border: 3px solid black;
    background-color: lightblue;
    color: black;
    padding: 30px 30px;
    font-size: 30px;
    cursor: pointer;
}

.github {
    border-color: #CB26F5;
    color: violet;
}
.gitlab {
    border-color: #F27142;
    color: red;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
