<div class="container center">   
    <div class="profile-image text-center mb-3">
      <img class="w-25 h-25" src="../../images/profile_2.jpg">
    </div>
    <div class="bio mb-2">
      <h2 class="text-center">
        Hey There - I'm Diana Kumykova.
      </h2>
      <p class="text-center"> 
        I am currently pursuing bachelors in Computer Science as well as Interactive Media and Game Development (Tech)
        at Worcester Polytechnic Institute. I love games and telling stories through them, whether they be for escapism, to make a statement,
        or just for plain old fun. 
      </p>
    </div>
   <br>
    <div id="contact" class="bio mb-1">
       <p class="text-center">If you want to ask about projects, work, or just chat, here are some ways to contact me:</p>
       <div class="links text-center" >
         <a id="refPhoto" href="https://www.linkedin.com/in/diana-kumykova-426b69176"><img src="../images/linkedin.svg" width="50" height="50"></a>
         <a id="refPhoto" href="#"><img src="../images/email.svg" width="50" height="50"></a>
         <a id="refPhoto" href="https://www.github.com/dkumykova"><img src="../images/github-logo.png" width="50" height="50"></a>
       </div>
    </div>
</div>