<div class="container center">   
    <div class="profile-image text-center mb-3">
      <img class="w-50 h-50" src="../../images/profile_2.jpg">
    </div>
    <div class="bio mb-2">
      <h2 class="text-center">
       Hello! I'm Diana Kumykova.
      </h2>
      <p class="text-center"> 
        I am currently pursuing bachelors in Computer Science as well as Interactive Media and Game Development (Tech)
        at Worcester Polytechnic Institute. I love games and telling stories through them, whether they be for escapism, to make a statement,
        or just for plain old fun. 
      </p>
    </div>
   <hr class="separator">
    <div id="contact" class="bio mb-1">
       <p class="text-center">If you want to ask about projects, work, or just chat, feel free to shoot me an email at <strong>dkumykova@gmail.com</strong>, connect
        with me on <strong><a href="https://www.linkedin.com/in/diana-kumykova-426b69176" style="color:rgb(0, 110, 255)">LinkedIn</a></strong> - 
        Or, just fill out the form below:</p>

       <div class="text-center">
        <!-- <h2> Give Feedback to Our Website.</h2> -->
        <!-- <form method="get" enctype="text/plain"> -->
          <!-- <p>Email: <input id="email" type="text" name="email"/></p> -->
          <p>Subject: <input id="subject" type="text" name="subject" value="Cool Email"/></p>
          <p>Message:
            <br />
            <textarea id="message" name="message" >Cool Email things</textarea>
            <br>
          
            <button onclick="email()" style="margin-top:1rem;">Send!</button>
         
        <!-- </form> -->


       </div>
      
    </div>
</div>