<hr class="separator">
    <h4 class="text-center mb-5 game-paragraph">Gallery</h4> 
<div class="gallery ml-5">
    <div class="row">
        <div class="col-sm-6" >
        <div class="card " style="width: 25rem;">
            <img src="<%= picture1 %>" class="card-img" alt="...">
        </div>
    </div>
        <div class="col-sm-6" >
            <div class="card " style="width: 25rem;">
                <img src="<%= picture2 %>" class="card-img" alt="...">
            </div>
        </div>
    </div>
</div>