<div class="container">
    <div class="project-top flex-column text-center">
        <h1 class="game-title"><%= title %></h1>
    </div>
    <h3 class="text-center mb-1"><%= synopsis %></h3>
    <br>
    <h3 class="text-center mb-1"><%= role %></h3>
    <br>
    <div class="visuals ">
        <div class="row">
            <div class="col-sm-6" >
            <div class="card " style="width: 25rem;">
                <img src="../../images/meatloaf.gif" class="card-img" alt="...">
                <div class="card-img-overlay"></div>
            </div>
        </div>
            <div class="col-sm-6" >
                <div class="card " style="width: 25rem;">
                    <img src="../../images/books.gif" class="card-img" alt="...">
                    <div class="card-img-overlay" ></div>
                </div>
            </div>
        </div>
    </div>


    <h3 class="text-center mb-1"><%= additional %></h3>
</div>
