<nav class="nav justify-content-end fixed-top">
  <img src="../../images/profile_photo_1.png" width="45rem" height=".7rem"/>
  <a class="nav-link active" href="/">Work</a>
  <a class="nav-link" href="/about">About</a>
  <a class="nav-link" href="/resume">Resume</a>
</nav>