
<div class="jumbotron start-page">
    <h1 class="display-4">Diana Kumykova</h1>
    <p class="lead">Programmer | Game Developer</p>
    <hr class="my-4">
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-5" >
        <div class="card " style="width: 25rem;">
            <img src="../../images/CallofKarenScreenshot.jpg" class="card-img" alt="...">
            <a href="/karen"><div class="overlay">
                <h3 class="card-title">Call Of Karen</h3> 
            </div>
            </a>   
            
        </div>
    </div>
    <div class="col-sm-5" >
    <div class="card " style="width: 25rem;">
        <img src="../../images/forest_fighters.png" class="card-img" alt="...">
        <a href="/fighters"><div class="overlay">
            <h3 class="card-title">Forest Fighters</h3>
        </div></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5" >
        <div class="card " style="width: 25rem;">
            <img src="../../images/website.jpg" class="card-img" alt="...">
            <a href="/website"><div class="overlay">
            <h3 class="card-title">Personal Website</h3>
            </div></a>
        </div>
        
    </div>
    <div class="col-sm-5" >
        <div class="card " style="width: 25rem;">
            <img src="../../images/Boids.jpg" class="card-img" alt="...">
            <a href="/boids"><div class="overlay">
            <h3 class="card-title">Birds and Boids</h3>
            </div></a>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-5" >
        <div class="card " style="width: 25rem;">
            <img src="../../images/fatalError.jpg" class="card-img" alt="...">
            <a href="/fatal"><div class="overlay">
            <h3 class="card-title">Fatal Error</h3>
            </div></a>
        </div>
        
    </div>
    <div class="col-sm-5" >
        <div class="card " style="width: 25rem;">
            <img src="../../images/dragonfly_sample.png" class="card-img" alt="...">
            <a href="/dragonfly"><div class="overlay">
            <h3 class="card-title">Dragonfly Engine</h3>
            </div></a>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-5" >
        <div class="card " style="width: 25rem;" >
            <img src="../../images/dolls_example.png" class="card-img" alt="...">
            <a href="/doll"><div class="overlay">

            <h3 class="card-title">PCG Doll Generator</h3>
            </div></a>

        </div>
        
    </div>
    </div>
</div>
     