
<div class="jumbotron">
    <h1 class="display-4">Diana Kumykova</h1>
    <p class="lead">Programmer | Game Developer</p>
    <hr class="my-4">
</div>
<div class="container ">
    <div class="row">
        <div class="col-sm-6" >
        <div class="card " style="width: 25rem;">
            <img src="../../images/CallofKarenScreenshot.jpg" class="card-img" alt="...">
            <div class="card-img-overlay" onmouseenter="overlay(this)" onmouseout="nooverlay(this)">
                <h5 class="card-title" style="opacity: 1;">Call Of Karen</h5>
                <p class="card-text">Last updated 3 mins ago</p>
                
            </div>
        </div>
    </div>
    <div class="col-sm-6" >
    <div class="card " style="width: 25rem;">
        <img src="../../images/forest_fighters.png" class="card-img" alt="...">
        <div class="card-img-overlay" onmouseenter="overlay(this)" onmouseout="nooverlay(this)">
            <h5 class="card-title">Forest Fighters</h5>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6" >
        <div class="card " style="width: 25rem;">
            <img src="../../images/website.jpg" class="card-img" alt="...">
            <div class="card-img-overlay" onmouseenter="overlay(this)" onmouseout="nooverlay(this)">
            <h5 class="card-title">Personal Website</h5>
            <p class="card-text">Last updated 3 mins ago</p>
            </div>
        </div>
        
    </div>
    <div class="col-sm-6" >
        <div class="card " style="width: 25rem;">
            <img src="../../images/Boids.jpg" class="card-img" alt="...">
            <div class="card-img-overlay" onmouseenter="overlay(this)" onmouseout="nooverlay(this)">
            <h5 class="card-title">Birds and Boids</h5>
            <p class="card-text">Last updated 3 mins ago</p>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-6" >
        <div class="card " style="width: 25rem;">
            <img src="../../images/fatalError.jpg" class="card-img" alt="...">
            <div class="card-img-overlay" onmouseenter="overlay(this)" onmouseout="nooverlay(this)">
            <h5 class="card-title">Fatal Error</h5>
            <p class="card-text">Last updated 3 mins ago</p>
            </div>
        </div>
        
    </div>
    <div class="col-sm-6" >
        <div class="card " style="width: 25rem;">
            <img src="../../images/dragonfly_sample.png" class="card-img" alt="...">
            <div class="card-img-overlay" onmouseenter="overlay(this)" onmouseout="nooverlay(this)">
            <h5 class="card-title">Dragonfly Engine</h5>
            <p class="card-text">Last updated 3 mins ago</p>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-6" >
        <div class="card " style="width: 25rem;" >
            <img src="../../images/dolls_example.png" class="card-img" alt="...">
            <div class="card-img-overlay" onmouseenter="overlay(this)" onmouseout="nooverlay(this)">
            <h5 class="card-title">PCG Doll Generator</h5>
            <p class="card-text">Last updated 3 mins ago</p>
            </div>
        </div>
        
    </div>
    </div>
</div>
     