<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/nav %>

<% include partials/game_info %>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>