<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/nav %>
  <div class="content">
    <% include partials/work_info %>
  </div>
</body>
<% include partials/script %>
</html>