<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/nav %>
  <div class="container w-100 h-100">
    <iframe class="embed-responsive-item resume-pdf" src="../images/resume.pdf"></iframe>
  </div>
</body>
<% include partials/script %>
</html>