/* #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
} */
  
.myNav {
    list-style-type: none;
    padding: 0;
    position: fixed; /*floating nav*/
    /* margin-left: -70px; fix this */
    
}
ul {
    padding-inline-start: 0px;
}
li {
    display: inline-block;
    margin: 0 30px;
    font-size: 1em;
    color: black;
}
  
li:hover{
      color: blueviolet;
}
  
li:active{
      color: red;
}
a {
    color: #42b983;
}

#myFooter{
    list-style-type: none;
    padding: 0;
    position: fixed; /*floating nav*/
    bottom: 10px;
}

#mainBox {
    background-color: lightblue;
    margin-right: 150px;
    background-image: url("../images/ori_areas.png");
  
  }

.profileImg{
    width: 120;
    height: 80;
    float: left;
}

#aboutMe{
    background-color: #e7d5f2;
    
}