body{
    background-color: #fff7d4;
}
  
#myNav {
    list-style-type: none;
    padding: 0;
    position: fixed; 
    height: 70px;
    background-color: #b7ca79;
    float: right;
    width: 100%;
}

ul {
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    width: 100%;
}
li {
    display: inline-block;
    margin: 0 30px;
    font-size: 1em;
    float: right;
    color: white;
    
}
  
li:hover{
    color: black;
}
  
li:active{
      color: #677e52;
}
/* a {
    color: #42b983;
} */

#myFooter{
    list-style-type: none;
    padding: 0;
    position: fixed; /*floating nav*/
    bottom: 10px;
    margin-left: 0px;
    font-size: .5em;
    
    /* color: gray; */
}

#myFooter li{
    color: black;
    margin: 0 10px;
}


#mainBox {
    background-color: lightblue;
    margin-right: 150px;
    background-color: #afcd97;
    width: 300px;
    height: 300px;
  }

img{
    margin-right: 100px;
}

#testID{
    margin-top: 25px;
    
}

#aboutMe{
    background-color: #e7d5f2;
    
}