.nav{
    margin: 1rem;
    font-family: 'Vollkorn', serif;
    position:sticky;
}

a{
    color: #394d4d;

}
a:hover{
    color:#dae1dd;
}
.jumbotron{
   
    text-align: center;
    font-family: 'Playfair Display', serif;
    background-color:#fce6ac;
    /*do cool css animations in here, falling snow or sparkles or something*/
}
.start-page{
    margin-left: 10rem;
    margin-right: 10rem;
}
.row{
    
    align-items: center;
    padding-bottom:3rem;
   
    
    @media (min-width: 576px) { 

     }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) { 
        display: block;
     }

    /* // Large devices (desktops, 992px and up) */
    @media (min-width: 992px) { 
        padding-bottom:3rem;
     }

    /* // Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) { 
        
     }
}

.col-sm-5{
    margin:1rem;

}

.card {
    color: white;
    text-align: center;
    font-family: 'Vollkorn', serif;

}

.card:hover .overlay{
    opacity:.7;
}

.overlay{
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #3e687e;
}

.card-title{
    color: white;
    font-size: 2rem;
    position: absolute;
    opacity:1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.bio{
    font-family: 'Vollkorn', serif
}

.game-top{
    background-color: #e5a977;
    font-family: 'Playfair Display', serif;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}
  
.separator {
background: #c4e5d4;
height: 1px;
overflow: hidden;
position: relative;

border: 0;
clear: both;
display: block;
margin: 2.4rem auto;
text-align: center;
width: 100%;
}

.video-trailer{
    display:block;
}

.game-paragraph{
    font-family: 'Vollkorn', serif;
}

body{
    color: #394d4d;
    /* background-color: #eaedf5e8; */
}

/*font-family: 'Titillium Web', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Vollkorn', serif;*/

